.error-message {
  position: absolute;
  color: #000000;
  top: 75%;
  left: 25%;
}
.error-display {
  position: absolute;
  color: #000000;
  top: 75%;
  left: 30%;
}

.error-page {
  text-align: center;
  height: 50vh;
  font-size: 50px;
}
