
.app {
  background-color: black;
  color: white;
  font-family: 'Nova Round', cursive;
}

[type=radio] {
  position: absolute;
  opacity: 0;
}

[type=radio]+img {
  cursor: pointer;
  margin-right: 0.5rem;
  border-radius: 80%;

}

[type=radio]:checked + img {
  outline: 5px solid red;
}
