/* @import url(//db.onlinewebfonts.com/c/f88cd11de6d9aa48ddc14cf6181b309c?family=Nasalization); */

.app {
  background-color: black;
  color: white;
  font-family: nasalization, sans-serif;
  font-style: normal;
  font-weight: 400;
}

[type=radio] {
  position: absolute;
  opacity: 0;
}

[type=radio]+img {
  cursor: pointer;
  margin-right: 0.5rem;
  border-radius: 80%;

}

[type=radio]:checked + img {
  outline: 5px solid red;
}
