@import url("https://db.onlinewebfonts.com/c/f88cd11de6d9aa48ddc14cf6181b309c?family=Nasalization");
@font-face {font-family: "Nasalization"; src: url("https://db.onlinewebfonts.com/t/f88cd11de6d9aa48ddc14cf6181b309c.eot"); src: url("https://db.onlinewebfonts.com/t/f88cd11de6d9aa48ddc14cf6181b309c.eot?#iefix") format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/f88cd11de6d9aa48ddc14cf6181b309c.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/f88cd11de6d9aa48ddc14cf6181b309c.woff") format("woff"), url("https://db.onlinewebfonts.com/t/f88cd11de6d9aa48ddc14cf6181b309c.ttf") format("truetype"), url("https://db.onlinewebfonts.com/t/f88cd11de6d9aa48ddc14cf6181b309c.svg#Nasalization") format("svg"); }

.app {
  background-color: black;
  color: white;
  font-family: "Nasalization";
}

[type=radio] {
  position: absolute;
  opacity: 0;
}

[type=radio]+img {
  cursor: pointer;
  margin-right: 0.5rem;
  border-radius: 80%;

}

[type=radio]:checked + img {
  outline: 5px solid red;
}
