
.header {
  background-image: url(https://images.rawpixel.com/image_1000/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcm0yMDktYWRqLTEyXzEuanBn.jpg?s=F-bib3KifzcgA70b7LOvJuqajTVu55YA-Eu8xAbnfoM);
  color: red;
  font-family: 'Nova Round', cursive;
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  padding-right: 10px;
}

h1{
  margin-top:2%;
  margin-bottom:1%;
  margin-left: 2%
}

.home {
  margin-right: 0px;
  background: none;
  font-family: 'Nova Round', cursive;
  color: red;
  font-size: 25px;
  margin-top: 42%;
  border: none;
  cursor: pointer;
}
